<div class="container">
  <form>
    <div class="card mt-2 p-2">
      <div class="col text-center">
        <h2><u>Add New Books</u></h2>
      </div>
      <div class="row text-center">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput name="title" [(ngModel)]="title" />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input matInput name="author" [(ngModel)]="author" />
          </mat-form-field>
        </div>
        <div class="col mt-2">
          <button mat-raised-button (click)="addBook()" color="primary">
            Add Book
          </button>
        </div>
      </div>
      <mat-divider class="mb-2"></mat-divider>
      <div class="col text-center">
        <h2><u>Books</u></h2>
      </div>
      <div class="card m-1 p-2" *ngFor="let book of books; index as i">
        <div class="row">
          <div class="col p-2">{{ book.title }} (By {{ book.author }})</div>
          <div class="col-md-2 text-center">
            <button mat-raised-button color="warn" (click)="deleteBook(i)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
